/* @author Bilal Cinarli */

/** -------------------------------------------
    Fonts
    ------------------------------------------- **/
//
// Colaborate Thin
//
@font-face {
    font-family: 'Colaborate Thin';
    src: url('../fonts/colabthi-webfont.woff2') format('woff2'),
    url('../fonts/colabthi-webfont.woff') format('woff');

    font-weight: normal;
    font-style: normal;
}