/* @author Bilal Cinarli */

/** -------------------------------------------
    Header
    ------------------------------------------- **/
.profile {
    position: absolute;
    top: 50%;
    left: 50%;
    @include dims(64px);
    margin: -24px 0 0 -32px;
    border: 3px solid #fff;
    border-radius: 50%;
}

.profile-link {

}

.profile-photo {
    position: absolute;
    top: 0;
    left: 0;
    @include dims(58px);
    border-radius: 50%;
}