/* @author Bilal Cinarli */

/** -------------------------------------------
    Page
    ------------------------------------------- **/
.pages {
    @include app-transition();
    position: absolute;
    top: 0;
    left: -100%;
    @include dims(300%, 100%);
    padding-top: 100px;

    &.on-yesterday {
        left: 0;
    }

    &.on-today {
        left: -100%;
    }

    &.on-tomorrow {
        left: -200%;
    }
}

.page {
    position: relative;
    float: left;
    width: 33.3333%;
    min-height: 500px;
    padding: $base-gutter;
}

.graph {
    text-align: center;
}