/* @author Bilal Cinarli */

/** -------------------------------------------
    Skeleton
    ------------------------------------------- **/
.page-wrap {
    position: relative;
    overflow-x: hidden;
    min-height: 100%;

    &:after {
        content: " ";
        display: table;
        clear: both;
    }
}

.page-header {
    @include app-transition();
    position: fixed;
    z-index: 99;
    @include dims(100%, 100px);
    background: #{map_get($colors, 'blue')} center no-repeat;

    .pushed & {
        @include prefixer(filter, blur(2px), webkit moz);
    }
}

.page-content {
    position: absolute;
    top: 0;
    left: 0;
    @include dims(100%);
    padding-top: 100px;

    .pushed & {
        @include prefixer(filter, blur(2px), webkit moz);
    }
}