/* @author Bilal Cinarli */

/** -------------------------------------------
    Loading
    ------------------------------------------- **/
.loading {
    &.page-header {
        height: 100%;
        background-image: url("../images/loading-alternate.gif");

        * {
            display: none;
        }
    }

    &-view {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        @include dims(100%);
        background: url("../images/loading.gif") center no-repeat;

        * {
            display: none;
        }
    }
}