/* @author Bilal Cinarli */

/** -------------------------------------------
    Properties
    ------------------------------------------- **/
.my-properties {
    margin: 0;
    padding: 0;
}

.properties-title {
    color: #{map-get($colors, 'blue')};
}

.property {
    position: relative;
    float: left;
    width: 40%;
    padding: $base-gutter;
    margin: 0 5% $base-gutter;
    @include font-size(14px);
    list-style: none;
    text-align: center;
}

.property-link {
    display: block;
    color: #222;
    text-decoration: none;
}

.property-icon {
    @include font-size(40px);

    &.icon-money {
        color: green;
    }

    &.icon-gold {
        color: gold;
    }
}

input.property-input {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    @include dims(200px, 50px);
    border: 10px solid rgba(0, 0, 0, .4);
    margin: -25px 0 0 -100px;
    border-radius: 5px;

    .property-selected & {
        display: block;
    }
}

.property-amount {
    position: absolute;
    bottom: 0;
    left: 0;
    @include dims(100%, 30px);
    @include font-size(13px);
    text-align: center;
}